header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    padding: 0px 20px;
    margin-bottom: 15px;
}
header h1{
    margin: 0 0;
}

/* ESTILOS TARJETAS -------------------------------------------------------- */
.main-calculadoras{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tarjeta{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding:10px 10px;
    border-radius: 20px;
    border: 2px black solid;
}
.tarjeta__titulo{
    color: black;
    font-size: 26px;
    margin:10px 10px;
}
.tarjeta__formulario{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.tarjeta__titulo-input{
    color: black;
    font-size: 14px;
}
.tarjeta__input{
    width: 100%;
    margin:5px 0px 10px 0px;
    border: none;
    background-color: transparent;
    border-bottom: 2px #2E4BF2 solid;
    color: black;
    font-size: 14px;
    text-align: center;
}
.tarjeta__formulario-avisos{
    font-style:italic;
    font-size: 12px;
    padding: 0px 0px 10px 0px;
    margin: 0 0;
    text-align: center;
    color:rgb(170, 0, 34);
}
.tarjeta__botones{
    position:relative;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.tarjeta__boton{
    background-color: #2E4BF2;
    border-radius: 7px;
    border: none;
    color: white;
    width: 100%;
    height: 30px;
    margin: 2px 5px;
    font-size: 14px;
    transition-duration: 0.4s;
}
.tarjeta__boton:hover{
    background-color: rgba(245, 245, 245, 0.8);
    color: rgb(0, 0, 0);
    border: 3px #2E4BF2 solid;
}
.tarjeta__resultado{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.tarjeta__resultado-titulo{
    margin: 30px 0px 0px 0px;
}
.tarjeta__resultado ul{
    padding: 0 0;
}
.tarjeta__resultado li{
    display: flex;
    list-style: none;
    padding: 3px 0px;
    font-size: 14px;
}
.tarjeta__resultado pre{
    margin: 0 0;
    font-size: 15px;
    color: #2E4BF2;
}

/* ESTILOS TARJETAS -------------------------------------------------------- */

.contenedor__lista-cupones{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
}
.lista-cupones{
    border: 2px black solid;
    border-radius: 20px;
    width: 400px;
    background-color: rgba(252, 122, 0, 0.705);
}
.lista-cupones h3{
    text-align: center;
}
.lista-cupones li{
    list-style: none;
    text-align: start;
}